<!-- Page Content -->
<div class="container">

  <div class="row">

    <%= render partial: "site/shared/sidebar" %>
    <!-- /.col-lg-3 -->
    <div id="home-detail" class="col-lg-9">

        <div class="row">
          <div class=" well">
              <%= @category.description %>
          </div>
        </div>
        

        <%= render partial: "site/shared/ads" %>

        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
