<!-- Footer -->
<footer class="navbar-inverse">
  <div class="container" style="text-decoration-color: white">
    <p class="text-center text-white">Copyright &copy; EscamboApp <%= Date.today.year %></p>
  </div>
  <!-- /.container -->
</footer>
