<h1 class="page-header">Diagramas</h1>
<div class="panel panel-default">
	<div class="panel-body">
		<embed src="/diagram.pdf" type="aplication.pdf" width="100%" height="650px"> </embed>
	</div>
</div>