<!-- Page Content -->
<div class="container">

  <div class="row">

    <%= render partial: "site/shared/sidebar" %>
    <!-- /.col-lg-3 -->

    <div id="home-detail" class="col-lg-9">
      
      <% if controller_path == 'site/home' %>
        <%= render partial: "site/shared/carousel" %> 
      <% end %>
      
      <%= render partial: "site/shared/ads" %>

      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
